@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    overflow-x: hidden;
}
html {
    font-size: 62.5%;
}
img{
    color: #fbfbfb;
    color: #cdaccb;
    color: #a244d0;
    color: #6d3485;
    color: #fdda02;
}
:root{
    --testimonial:#a244d0;
    --bgcolor: #fbfbfb;

}

body {
    background:  var(--bgcolor);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    align-items: center;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
}

a, li, p {
    font-size: 1.6rem;
    letter-spacing: 0.15rem;
    word-spacing: 0.5rem;
}

/* ------#############---utility-classess--######-------- */

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    color: #aaa;
    border-radius: 10px;
}

#logo {
    color: #0fa887;
}

.btn-grad {
    background-image: linear-gradient(to right, #314755 10%, #26a0da 51%, #020507 100%)
}

.btn-grad {
    margin: 10px;
    padding: 10px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #000;
    border-radius: 10px;
    text-decoration: none;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-primary {
    color: #fff;
}

/* ------#############---hemburger-sytling---######-------- */

.hemburger {
    display: block;
    width: 40px;
    position: absolute;
    top: 50x;
    right: 5px;
    cursor: pointer;
    display: none;
}

.line {
    width: 34px;
    height: 4px;
    background-color: #831843;
    margin-bottom: 6px;
    display: block;
    border-radius: 4px;
    z-index: 999;
}

#line1 {
    transition: 0.3s ease-in-out;
}

.change #line1 {
    transform: translate(-1px, 10px) rotate(-45deg);
    transition: 0.3s ease-in-out;
}

#line3 {
    transition: 0.3s ease;
}

.change #line3 {
    transform: translate(-1px, -10px) rotate(45deg);
    transition: 0.3s ease-in-out;
}

#line2 {
    transition: 0.3s ease-in-out;
}

.change #line2 {
    opacity: 0;
    transition: 0.3s ease-in-out;
}

#menu-bg {
    display: none;
    z-index: 1;
    width: 700px;
    opacity: 0.22;
    height: 700px;
    position: absolute;
    top: -200px;
    left: 500px;
    opacity: 333;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 50%;
    transition:0.4s ease-in;

}


.change-bg #menu-bg {
    display: inline-block;
    transition: 0.5s ease-in-out;
}

/* ------#############---navbar-sytling---######-------- */

.navbar {
    box-shadow: 0px 5px 10px 0px #aaaa;
    position: fixed;
    width: 100vw;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 99999999999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-right: 20px;
    align-items: center;
}

.menu-items {
    text-transform: uppercase;
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    font-size: 1.8rem;
    margin-left: 1.8rem;
}

.navbar a {
    color: #000;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.navbar li a:hover {
    color: #BE185D;
    transition: 0.3s ease;
    border-bottom: 1px solid#BE185D;
}

.logo {
    order: 1;
}

/* ------#############---showcase-sytling---######-------- */

.showcase-area {
    position: relative;
    height: 90vh;
    width: 100vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    animation: slider 10s infinite ease-in-out;
}
@keyframes slider{
    75%{
        background: url(../images/building-image.jpg);
    }
    100%{
        background: url(../images/header-image2.jpg);
    }
    75%{
        background: url(../images/building-image.jpg);
    }
    50%{
        background: url(../images/restraunt-image.jpg);
    }
    25%{
        background: url(../images/building-image.jpg);
    }
    0%{
        background: url(../images/restraunt-image.jpg);
    }
}

.showcase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.6rem;
}

/* ------#############---About-us-sytling---######-------- */

#about {
    padding: 20px 0px;
}

#about h2 {
    font-size: 3.2rem;
}

#about p {
    font-size: 1.6rem;
    color: #555;
}

.about-wrapper {
    
    box-shadow: 0 2px 5px 0px rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    display: flex;
    flex-wrap: wrap;
}

#about .small {
    font-size: 2.2rem;
    font-weight: 600;
    border-bottom: 2px solid black;
    width: 170px;
}

.about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    animation: about-text-animation 3s ease-in-out forwards;
    transform: translate(-150%);
}

.about-img>img {
    display: block;
    height: 300px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
    transform: translatex(150%);
    animation: about-img-animation 3s ease-in-out forwards;
}

@keyframes about-img-animation {
    100% {
        transform: translate(0);
    }
}

@keyframes about-text-animation {
    100% {
        transform: translate(0);
    }
}

/* ------#############---Food-sytling---######-------- */

#food {
    margin-top: -3rem;
    padding: 5rem 10rem;
}

#food h2 {
    text-align: center;
    font-size: flex;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #aaa;
}

.food-container {
    display: flex;
    justify-content: space-between;


}

/* ############### FOOD IMAGE SYLIGN  ---############# */
.food-container img {
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
.img-container{
    box-shadow: 0 2px 12px 3px rgba(0,0,0,.16), 0 2px 7px 4px rgba(0,0,0,.12);
}
.fruit, .vegetable, .grain {
    box-shadow: 0 2px 12px 3px rgba(0,0,0,.16), 0 2px 7px 4px rgba(0,0,0,.12);
}

.vegetable {
    margin: 0 20px;
}


.img-container {
    position: relative;
}

.img-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
}

.img-content h3 {
    color: #ddd;
    font-size: 3rem;
}

.img-content a {
    font-size: 1rem;
    background: teal;
}

.img-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 13, 13, 0.637);
    /* opacity: 0; */
    z-index: 1;
    transform: scaley(0);
    transform-origin: bottom;
    transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
    opacity: 1;
    transform: scalex(1)
}

.img-container:hover .img-content {
    opacity: 7;
    top: 50%;
}

/* ------#############---Food-menu-sytling---######-------- */

.myCards {
    overflow: hidden;
    
}
div.card a{
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
}


#myCards {
    box-shadow: 0 2px 5px 0px rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);    
    box-shadow: 5px 6px 20px 0px #000;
    height: 500px;
    max-width: 1200px;
    background: linear-gradient(90deg, #434343, #434343 1px, #262626 0, #262626);
    position: relative;
    margin: 0 auto;
    border: 3px solid;
    border-color: red transparent transparent transparent;
}

.myCards::after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to bottom, red, orange, rgb(16, 213, 219), blue);
    position: absolute;
    border-radius: 40px;
    z-index: 99999;
}

.card {
    border-radius: 30px;
    color: #fff;
    font-size: 1.6rem;
    margin-top: 50px;
    padding: 10px;
    width: 300px;
    height: 400px;
    position: absolute;
    box-shadow: -3rem 0px 3rem -2rem #000;
    transition-property: transform;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    background: linear-gradient(85deg, #434343, #262626);
    z-index: 100;
}

.card>div>img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}

.circle {
    position: absolute;
    top: 6px;
    left: 50px;
    width: 20px;
    height: 20px;
    border: 3px solid #aaa;
    border-radius: 50%;
}

.card>h1 {
    margin: 5px 20px;
    font-weight: 400;
    font-size: 2.5rem;
}

.card:hover {
    transform: translate(-60px, -10px) rotate(5deg);
}

.card-1:hover~.card-2, .card-1:hover~.card-3, .card-1:hover~.card-4 {
    transform: translate(80px, 0px);
}

.card-3:hover~.card-4 {
    transform: translate(80px, 0px);
}

.card-2:hover~.card-3, .card-2:hover~.card-4 {
    transform: translate(80px, 0px);
}

.card-0:hover~.card-1, .card-0:hover~.card, .card-0:hover~.card-3, .card-0:hover~.card-4 {
    transform: translate(80px, 0px);
}

.card-11:hover~.card-0, .card-11:hover~.card-1, .card-11:hover~.card, .card-11:hover~.card-3, .card-11:hover~.card-4 {
    transform: translate(80px, 0px);
}

.card-22:hover~.card-11, .card-22:hover~.card-0, .card-22:hover~.card-1, .card-22:hover~.card, .card-22:hover~.card-3, .card-22:hover~.card-4 {
    transform: translate(80px, 0px);
}

.card-22 {
    top: 0;
    right: 800px;
}

.card-11 {
    top: 0;
    right: 650px;
}

.card-0 {
    top: 0;
    right: 500px;
}

.card-1 {
    top: 0;
    right: 350px;
}

.card-2 {
    top: 0;
    right: 200px;
}

.card-3 {
    top: 0;
    right: 50px;
}

.card-4 {
    top: 0;
    right: -130px;
}

.hero {
    z-index: 1;
    position: absolute;
    top: 37%;
    width: 280px;
    height: 250px;
    margin: 0 auto;
    background: transparent;
    overflow: hidden;
    border-radius: 30px;
}




.card>a {
    position: absolute;
    color: white;
    width: 150px;
    display: block;
    text-decoration: none;
    border: 3px solid blue;
    border-radius: 20px;
    padding: 5px;
    margin: 4px auto;
    opacity: 1.1;
    z-index: 9;
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

/* ------#############---testmonial-styling-menu-sytling---######-------- */

#testimonial {
    margin: 60px 0px;
}

.testimonial-container {
    box-shadow: 0 2px 5px 0px rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    /* background-image: linear-gradient( 143.3deg,  rgba(216,27,96,0.980) 33.1%, rgba(237,107,154,0.781) 74.9% ); */
    color: rgb(29, 3, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#testimonial span:nth-last-child(2n){
    color: yellow;
}
#testimonial span:nth-last-child(2n+1){
    color: orange;
}
.testimonial-container{
    background-image: linear-gradient(112deg,rgb(248, 103, 163) 10%,rgb(29, 162, 196) 50%,rgb(207, 45, 186)100%);
}

.testimonial-container img {
    display: block;
    width: 250px;
    height: 300px;
    padding-top: 10px;
    object-fit: cover;
    object-position: center;
}

.testimonial-box {
    margin: 4px;
    font-size: 1.4rem;
    text-align: center   ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
}

.star-rating {
    order: 3;
}

.testimonial-text {
    order: 2;
}

.customer-details {
    order: 4;
}

/* ------#############---contact-sytling---######-------- */

.box-shadow{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px 0px rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

}
#contact-us {
    overflow-x:hidden;
    box-shadow: 0 2px 5px 0px rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin: 40px auto;
    background-color: #E5E7EB;
    display: flex;
}


.contact-image>img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.contact-form {
    margin: 1rem;
    outline: none;
    outline-style: none;
    width: 100%;
}

.contact-form>input {
    border: none;
    border-bottom: 2px solid #6EE7B7;
    outline: none;
    display: block;
    width: 100%;
    padding: 1rem 0;
    color: #444;
    font-weight: 500;
}

.new-btn, .contact-form>textarea {
    margin: 2px auto;
    border: none;
    display: block;
}

.contact-form>textarea {
    width: 100%;
    padding: 1rem 0;
}

.footer {
    position: relative;
    margin: 0 auto;
    background-color: #333;
    width: 100%;
    height: 60px;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
}

.footer>h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

@media (max-width:769px) {
    .navbar-container{
        opacity: 0.95;
        overflow: hidden;
        margin-right: 70px;
    }
    #menu-item{
        display: block;
        width: 30vh;
        height: 59vh;
        margin: 0px auto;
        position: absolute;
        top: 40px;
        right: 1px;
        text-align: center;
    }
    #menu-item>li{
        padding:10px;
    }
    .hemburger {
        display: block;
        z-index: 9999999999999;
    }
    .items {
        display: none;
    }
    .remove .items {
        display: block;
        transition: 0.3s ease;
    }
    #menu-item {
        z-index: 8889;
    }
    .showcase-area {
        height: 74vh;
    }

    /* id food desigining  */
    .food-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0 auto;
    }
   
    #food>h2 {
        color: rgb(109, 192, 212);
        margin: 3rem auto;
    }
    .vegetable {
        margin: 0;
    }
    #food{
        display: block;
        padding: 0;
    }
    .food-container {
        margin-bottom: 5rem;
    }
    .food-type{
        width: 450px;
        margin: 0 auto;
        display: block;
    }
    
    .food-type:not(:last-child) {
        margin-bottom: 3rem;
    }
    #food-menu-second {
        display: block;
        margin: 4rem 0;
    }

    /* testimonial desiging */
    .testimonial-container {
        flex-direction: column;
    }
    .testimonial-box:not(:last-child) {
        margin-bottom: 3rem;
    }

    /* contact us styling designing */
    #contact-us {
        display: flex;
        flex-direction: column;
    }
    .contact-form {
        width: 100%;
        margin: 0;
        padding: 5rem 4px;
    }
    /* about desiging */
   
    #about {
        margin: 0 auto;
    }
   
    .about-img>img {
        width: 100%;
    }
}
@media (max-width:381px){

    body{
        background-color: #ddd;
    }
    .showcase-area{
        width: 100vw;
        height: 95vh;
    }
    html,body{
        width: 100%;
        overflow-x: hidden;
    }
    .food-container{
        width: 360px;
        margin: 2rem auto;
    }
    #menu-bg{
        top: -250px;
        left: 150px;
    }
    .container{
     max-width: 360px;
    }
    .navbar-container{
        max-width: 364px;
    }
    .img-container{
        margin-right: 0;
        width: 100%;
        height: 50%;
    }
    .food-type{
        width: 300px;
    }
    .about-text,.about-img{
        animation: none;
        transform: none;
        
    } 
    .myCards{
        display: none;
    }
}
 


/* img{
    color: rgb(251, 251, 251);
    color: #fbfbfb;
    color: rgb(37, 150, 190);
    color: #57d6e7;
    color: rgb(255, 103, 164);
    color: #ff67a4;
    color: rgb(43, 41, 42) ;
    color: #2b292a;
} */